@media (max-width:992px) {
    .Wrapper{
        display: none;
    }
}
.Wrapper{
    position: relative;
}
/* search bar animations )))) */
.SearchIcon{
    position: absolute;
    color: var(--text-02);
    right: 13px;
    height: 100%;
    width: 30px;
    font-size: 20px;
}
.SearchIcon:hover{
    color: var(--accent-01);
    cursor: pointer;
}
input[type=search]:focus + .SearchIcon{
    color: var(--accent-01);
    cursor: pointer;
}
input[type=search]{
    height: 50px;
    width: 100%;
    border-radius: 6px;
    padding: 0 45px 0 15px;
    font-size: 16px;
    box-shadow: 0 0 5px 1px var(--background-00) inset;

    background-color: var(--background-01);
    transition: border .2s ease-in-out, background-color .1s ease;
    caret-color: var(--accent-01);
    color: var(--text-01);
    
    outline: none;
    border: 2px solid transparent;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
.Wrapper:hover input[type=search]{
    background-color: var(--background-03);
}
input[type=search]:focus{
    border: 2px solid var(--accent-01);
}
input[type=search][state=err]{
    animation: borderError 2s cubic-bezier(0.54, 0.02, 0.07, 1) infinite;
}
input[type=search][state=load]{
    animation: borderLoading 2s cubic-bezier(0.54, 0.02, 0.07, 1) infinite; 
}
@keyframes borderLoading {
    0% {
        border: 2px solid rgba(0, 185, 15, 0.8);
    }
    50%{
        border: 2px solid transparent;
    }
    100%{
        border: 2px solid rgba(0, 185, 15, 0.8);
    }
}

@keyframes borderError {
    0% {
        border: 2px solid red;
    }
    50%{
        border: 2px solid transparent;
    }
    100%{
        border: 2px solid red;
    }
}
/* end of */
