.CardWrapper{
    background: var(--background-02);
    padding: 20px;
    border-radius: 6px;
}
.InputWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--background-01);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px var(--background-00) inset;
}
.TextWrapper{
    width: inherit;
    display: flex;
}
.MsgText{
    width: inherit;
    background-color: transparent;
    resize: none;
    max-height: 100px;
    min-height: 50px;
    height: 50px;
    border: none;
    outline: none;
    caret-color: var(--text-01);
    color: var(--text-01);
    font-size: 18px;
    padding: 15px 10px 5px 10px;
    margin-bottom: 5px;
}
.MsgText::-webkit-scrollbar{
    display: none;
}
.Buttton{
    height: 33px;
    width: 33px;
    color: var(--text-02);
    margin: 0 10px;
    cursor: pointer;
}
.Buttton:focus{
    color: var(--accent-01);
}
.Buttton:hover{
    color: var(--accent-01);
}
.SendButtton{
    height: 33px;
    width: 33px;
    color: var(--text-02);
    margin: 0 10px;
    cursor: pointer;
}
.SendButtton:focus{
    color: var(--accent-01);
}
.SendButtton:hover{
    color: var(--accent-01);
}

.Spinner{
    height: 33px;
    width: 33px;
    color: var(--text-01);
    margin: 0 10px;
    cursor: pointer;
}