.Wrapper{
    position: relative;
    width: 100%;
    
}
.Bar{
    box-shadow: 0 0 5px 1px var(--background-00) inset;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 50px;
    background-color: var(--background-01);
    transition: background-color .1s ease;
}
.Bar:hover{
    background-color: var(--background-03);
}
.Bar button{
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--text-01);
}

.Bar button svg{
    transition: transform .3s cubic-bezier(0.25, 0.1, 0, 1.4);
    height: 22px;
    width: 22px;
}
.Bar button:global(.active) svg{
    transform: rotate(180deg);
}

.MenuWrapper{
    background-color: var(--background-00);
    /* width: 320px; */
}
.MenuHeader{
    color: var(--text-01);
}
.CloseBtn{
    font-size: 30px;
    color: var(--text-01);
    cursor: pointer;
}
.CloseBtn:hover{
    color: var(--text-02);
}

.Link{
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--text-01);
    background-color: transparent;
    border: none;
}
.Link:hover{
    color: var(--text-02)
}
.Link:global(.active){
    color: var(--accent-01);
}