.Hr{
    margin: 20px 0 10px 0;
}
.Wrapper{
    margin: 24px 0;
}

.CardWrapper{
    padding: 20px;
    margin-bottom: 24px;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.Title{
    font-size: 22px;
    font-weight: 700;
    color: var(--text-01);
}

.Link{
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    color: var(--text-01);
    background-color: transparent;
    border: none;
}
.Link:hover{
    color: var(--text-02)
}
.Link:global(.active){
    color: var(--accent-01);
}
