.Wrapper{
    margin: 0 0 48px 20px;
    color: var(--text-01)
}
.Title{
    margin-top: 24px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-01)
}
.SubTitle{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0;
}
.Text{
    font-size: 20px;
}
.SubText{
    font-size: 20px;
    margin-left: 20px;
}
