.Wrapper{
    overflow-y: auto;
    /* height: calc(100vh - var(--header-height)); */
    height: 100vh;
    margin-top: 70px;
    padding-bottom: 70px;
}
.ErrorPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--text-02);
    font-size: 22px;
    margin-top: 20px;
}