:root{
    /*background colors*/
    --background-00: rgb(31, 36, 43);
    --background-00-05: rgba(31, 36, 43,0.8);
    --background-01: rgba(38, 45, 55, 1);
    --background-02: rgba(49, 55, 66, 1);
    --background-03: rgba(60, 66, 77, 1);
    --background-04: rgba(60, 66, 77, 1);

    /*Text colors*/
    --text-01: rgba(240, 240, 240, 1);
    --text-02: rgba(148, 154, 156, 1);
    --text-03: rgb(44, 44, 44);

    --accent-01: rgba(49, 166, 239, 1);
}