:root{
    --background-00: #5d5d5d;
    --background-00-05: rgb(121 121 121 / 80%);
    --background-01: #cfcfcf;
    --background-02: #e0e0e0;
    --background-03: #cbcbcb;
    --background-04: #888888;

    --text-01: #000000;
    --text-02: #5c5c5c;
    --text-03: #ebebeb; 

    --accent-01: rgba(49, 166, 239, 1);


    --player-bg: rgba(255, 255, 255, 0.4);
    --player-bg2: #cbcbcb;
    --player-text: #000000;
    --player-text2: #5c5c5c;
    --player-btns: #000000;
}