:root{
    /*background colors*/
    --background-00: rgb(241, 241, 241);
    --background-01: rgb(204, 204, 204);
    --background-02: rgb(160, 160, 160);
    --background-03: rgb(121, 121, 121);
    --background-04: rgb(41, 41, 41);

    /*Text colors*/
    --text-01: rgb(0, 0, 0);
    --text-02: rgb(58, 58, 58);
    --text-03: rgb(107, 107, 107);

    --accent-01: rgba(49, 166, 239, 1);
}